/* ELEMENTO RAÍZ QUE PUEDES USAR PARA GENERAR VARIABLES EN COLORES Y FUENTES  */
:root {
    --fondoDeColor: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 1) 100%);
    --LetraDeTextos: white;
    --ColorCards: rgb(73, 61, 148);

    /* Este es un código para generar colores y transparencias en RGB (RED GREEN BLUE ALPHA) */
    /* --ColorCardsenRGBA: rgba(0, 0, 255, .1); */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* GLOBAL */
/* ESTE CÓDIGO ME AYUDA A RESETEAR LAS DIMENSIONES DE LOS ELEMENTOS EN HTML */
html {
    box-sizing: border-box;
}

body {
    background: var(--fondoDeColor);
    color: var(--LetraDeTextos);
    font-family: 'Roboto', sans-serif;
}

.transparencias {
    background-color: var(--ColorCardsenRGB);
}
/* BARRA DE NAVEGACION */
.BarraNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
}

.BarraNav__logo img {
    width: 30%;
}

.BarraNav__enlaces {
    display: flex;
    text-decoration: none;
    color: black;
    
}
.BarraNav__enlaces li{
    list-style-type: none;
    
    
}


.BarraNav__enlaces a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.BarraNav__enlaces a:hover{
    border-radius: 10px;
    background-color: blue;
}

@media (max-width: 360px) {
    .BarraNav__enlaces{
       flex-direction: column;
    }
}

/* TERMINA BARRA NAVEGADORA */

/* CASCADA */

#wrapper {
    width: 95%;
    margin-left: 2.5%;
}

/* PORTAFOLIO */


/* FORMULARIO DE CONTACTO */
.formulario{
    display: grid;
    grid-template-areas: "A B"
                         "C C" 
                         "D E"  ;

}
.formulario__form:nth-child(1){
    grid-area: A;
}
.formulario__form:nth-child(2){
    grid-area: B;
}
.formulario__form:nth-child(3){
    grid-area: C;
    display: flex;
    justify-content: center;
}

.btn{
   background-color: transparent;
   color: white;
   border-radius: 10px;
   font-size: 30px;
   box-shadow: none;
   cursor: pointer;
   grid-area: D; 
}
.btn:hover{
    background-color: blue;
    scale:calc(1.3);
}
.btn--verde{
    background-color: green;
    grid-area: E;
}

/* TERMINA FORMULARIO DE CONTACTO  */
/* MEDIA QUERIES */
